{
  "openapi": "3.0.3",
  "info": {
    "title": "대한감시 (Korean Surveillance) - 23개 연계 인터페이스 API",
    "description": "대한민국 전역 15개 공항 및 한반도 공역 종합 항공감시·관제·기상·스케줄 연계 게이트웨이 API 명세서입니다.\n\n### 주요 지원 규격\n- **항적 감시 (Surveillance)**: EUROCONTROL ASTERIX Cat.062 (융합), Cat.021 (ADS-B), Cat.048 (PSR/SSR), Cat.010 (지상), Cat.034 (센서상태)\n- **관제 기상 (Weather)**: AMO 항공기상청 42개 활주로 실시간 AMOS (55개 필드: 1/10분 풍향풍속, QNH, 온/습도, 강수량, 운고, 시정 m & SM, RVR), METAR, TAF, SIGMET, WARNING, IWXXM\n- **항공고시보 (NOTAM)**: AIM Korea 인천 FIR XNOTAM & AMHS AIDA-NG SOAP XML\n- **운항스케줄 (FIDS/UBIKAIS)**: UBIKAIS 전국 15개 공항 24시간 전체 스케줄 (인천 653편 등) DB 필드 (FLT, TYP, REG, NAT, DES/ORG, SPT, RAM, ETD, ATD/ATA, ETA, CHA) 및 ICAO Doc 4444 전문\n- **관제단말 (IFS)**: 정보융합지원 관제단말 (/ifs) 실시간 연동\n- **관제 음성 (LiveATC)**: 글로벌 관제탑 실시간 라이브 오디오 스트리밍\n- **백그라운드 동기화 (Crawler)**: Vercel Pro 무저장(Zero-Storage) 인메모리 Diff 엔진",
    "version": "2.5.0",
    "contact": {
      "name": "대한감시 시스템 운영팀",
      "url": "https://koreasurveillance.com"
    }
  },
  "servers": [
    {
      "url": "https://www.koreasurveillance.com",
      "description": "Production Live Server"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local Development Server"
    }
  ],
  "tags": [
    { "name": "1. Airspace Surveillance (ASTERIX)", "description": "한반도 광역 항적 정보 (유로컨트롤 ASTERIX 표준 규격)" },
    { "name": "2. Real-time Weather (AMOS & AMHS)", "description": "전국 15개 공항 42개 활주로 실시간 관제기상 및 예보/경보/SIGMET" },
    { "name": "3. Flight Schedules & FIDS", "description": "전국 15개 공항 UBIKAIS 실시간/24시간 전체 출도착 운항스케줄 (인천 653편 1:1 일치)" },
    { "name": "4. Flight Plan & AMHS Messages", "description": "ICAO Doc 4444 비행계획 변동(FPL, CHG, CNL, DLA, DEP, ARR) AMHS 전문" },
    { "name": "5. NOTAM Aeronautical Information", "description": "인천 FIR 비행제한구역 및 시설 고시보" },
    { "name": "6. Live ATC Audio Stream", "description": "실시간 관제탑 오디오 라이브 스트림" },
    { "name": "7. Background Sync Crawler", "description": "24시간 Vercel Pro 무저장 상태 변동 감지 크롤러" }
  ],
  "paths": {
    "/api/asterix": {
      "get": {
        "tags": ["1. Airspace Surveillance (ASTERIX)"],
        "summary": "ASTERIX 항적 데이터 조회 (Cat.062, Cat.021, Cat.048, Cat.010, Cat.034)",
        "description": "한반도 상공의 실시간 ADS-B 및 레이더 탐지 표적을 유로컨트롤 ASTERIX 표준 형식으로 변환하여 반환합니다.",
        "parameters": [
          {
            "name": "cat",
            "in": "query",
            "required": true,
            "description": "ASTERIX 카테고리 (62: 융합, 21: 개별ADS-B, 48: 레이더, 10: 지상이동체, 34: 센서상태)",
            "schema": { "type": "string", "enum": ["62", "21", "48", "10", "34"], "default": "62" }
          },
          {
            "name": "typ",
            "in": "query",
            "required": false,
            "description": "Cat.048 레이더 유형 (COMBINED_PSR_SSR, SINGLE_PSR, SINGLE_SSR)",
            "schema": { "type": "string", "enum": ["COMBINED_PSR_SSR", "SINGLE_PSR", "SINGLE_SSR"] }
          },
          {
            "name": "raw",
            "in": "query",
            "required": false,
            "description": "true 설정 시 변환 전 OpenSky/Feeder 원천 피드 반환",
            "schema": { "type": "boolean", "default": false }
          }
        ],
        "responses": {
          "200": {
            "description": "ASTERIX 규격 JSON 리포트 배열",
            "content": {
              "application/json": {
                "example": [
                  {
                    "asterixCategory": 62,
                    "sac": 116,
                    "sic": 251,
                    "timeOfTrackSec": 23092.99,
                    "trackNumber": 5635,
                    "trackStatus": { "monitored": true, "spi": false, "confirmedTrack": true },
                    "calculatedPositionWGS84": { "latitude": 36.782364, "longitude": 123.23822 },
                    "calculatedTrackVelocity": { "vxMs": -173, "vyMs": -109.5, "speedKts": 398, "headingDeg": 237.7 },
                    "mode3ACode": "0132",
                    "flightLevel": "FL294",
                    "targetIdentification": "KAL867"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/weather": {
      "get": {
        "tags": ["2. Real-time Weather (AMOS & AMHS)"],
        "summary": "실시간 관제기상 (AMOS) 및 공항 기상/특보 조회",
        "description": "항공기상청(AMO)으로부터 전국 15개 공항 42개 활주로의 1/10분 풍향풍속, RVR, QNH, 기온, 습도, 강수량(rn1hr), 시정(MOR m & Statute Mile SM 환산) 등 실측치를 실시간 수집하여 반환합니다.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "기상 타입 (amos: 실시간 관제기상 센서, warning: 공항 기상경보/특보)",
            "schema": { "type": "string", "enum": ["amos", "warning"], "default": "amos" }
          },
          {
            "name": "icao",
            "in": "query",
            "required": false,
            "description": "공항 ICAO 코드 (RKSI, RKSS, RKPC, RKPK, RKJY 등)",
            "schema": { "type": "string", "default": "RKJY" }
          }
        ],
        "responses": {
          "200": {
            "description": "실시간 활주로별 기상 센서 배열",
            "content": {
              "application/json": {
                "example": [
                  {
                    "rwyDir": "17",
                    "rwyUse": "Y",
                    "wd2minAvg": "160",
                    "wspd2minAvg": "4.7",
                    "wspd2minMax": "7.0",
                    "min": "2.7",
                    "tmp": "25.9",
                    "dp": "25.4",
                    "hm": "97",
                    "base1lyr": "FEW 800FT",
                    "qnhHpa": "1013",
                    "rvr1min": "P2000",
                    "mor1min": "10000",
                    "rn1hr": "0.0",
                    "wwLttr": "-"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/api/amhs": {
      "get": {
        "tags": ["4. Flight Plan & AMHS Messages", "2. Real-time Weather (AMOS & AMHS)"],
        "summary": "AMHS X.400 IPM / SOAP XML 항공통신 전문 조회",
        "description": "MET REPORT, METAR, TAF, SIGMET, WARNING, IWXXM, NOTAM 및 ICAO Doc 4444 FPL, CHG, CNL, DLA, DEP, ARR 전문을 AMHS X.400 IPM 및 SOAP XML 표준 규격으로 패키징하여 반환합니다.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "전문 유형 (METREPORT, METAR, TAF, SIGMET, IWXXM, NOTAM, FPL, CHG, CNL, DLA, DEP, ARR)",
            "schema": { "type": "string", "enum": ["METREPORT", "METAR", "TAF", "SIGMET", "IWXXM", "NOTAM", "FPL", "CHG", "CNL", "DLA", "DEP", "ARR"], "default": "METAR" }
          },
          {
            "name": "icao",
            "in": "query",
            "required": false,
            "description": "대상 공항 ICAO 코드 (RKSI, RKSS 등)",
            "schema": { "type": "string", "default": "RKSI" }
          },
          {
            "name": "raw",
            "in": "query",
            "required": false,
            "description": "true 설정 시 원문 텍스트 전문(rawAviationWeatherText) 반환",
            "schema": { "type": "boolean", "default": false }
          }
        ],
        "responses": {
          "200": {
            "description": "AMHS X.400 IPM / SOAP XML 전문",
            "content": {
              "application/xml": {
                "example": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<AMHS-IPM>\n  <Header>\n    <Priority>GG</Priority>\n    <FilingTime>210600</FilingTime>\n    <Originator>RKSNYZYX</Originator>\n  </Header>\n  <Body>\n    METAR RKSI 210600Z 18008KT 9999 FEW025 26/24 Q1012 NOSIG=\n  </Body>\n</AMHS-IPM>"
              }
            }
          }
        }
      }
    },
    "/api/flight-schedule": {
      "get": {
        "tags": ["3. Flight Schedules & FIDS"],
        "summary": "UBIKAIS 전국 공항 운항스케줄 (24H FIDS) 및 전자비행스트립 (EFS) 조회",
        "description": "UBIKAIS(항공교통업무망)로부터 전국 15개 공항의 실시간 출도착 전광판 스케줄 (인천 653편 등)을 UBIKAIS 표준 DB 필드(FLT, TYP, REG, NAT, DES/ORG, SPT, RAM, ETD, ATD/ATA, ETA, CHA)로 반환합니다.",
        "parameters": [
          {
            "name": "airport",
            "in": "query",
            "required": false,
            "description": "공항 코드 (RKSI: 인천 653편, RKSS, RKPC, RKPK, RKJY, RKTL, RKPD 등)",
            "schema": { "type": "string", "default": "RKSI" }
          },
          {
            "name": "flight",
            "in": "query",
            "required": false,
            "description": "특정 편명 조회 (예: CSN684, KAL867, AAR202)",
            "schema": { "type": "string" }
          },
          {
            "name": "efs",
            "in": "query",
            "required": false,
            "description": "true 설정 시 전자비행스트립(EFS) 사용자 연계 대기 규격 반환",
            "schema": { "type": "boolean", "default": false }
          }
        ],
        "responses": {
          "200": {
            "description": "실시간 UBIKAIS FIDS 운항스케줄",
            "content": {
              "application/json": {
                "example": {
                  "airport": "RKSI",
                  "totalFlights": 1306,
                  "departures": [
                    {
                      "flt": "CSN684",
                      "typ": "A321",
                      "reg": "B-1088",
                      "nat": "PAX",
                      "des": "ZYHB",
                      "spt": "18",
                      "ram": "1235",
                      "std": "1245",
                      "etd": "1245",
                      "atd": "1310",
                      "eta": "1520",
                      "cha": "-",
                      "sts": "DEP",
                      "flightRules": "IFR"
                    }
                  ],
                  "arrivals": [
                    {
                      "flt": "CES5011",
                      "typ": "A320",
                      "reg": "B-7764",
                      "sts": "LND",
                      "org": "ZSPD",
                      "spt": "44",
                      "ram": "1445",
                      "etd": "1230",
                      "sta": "1510",
                      "eta": "1453",
                      "ata": "1445",
                      "cha": "Y",
                      "flightRules": "IFR"
                    }
                  ],
                  "source": "UBIKAIS Official Daily Schedule (653 Flights - https://ubikais.fois.go.kr:8030)"
                }
              }
            }
          }
        }
      }
    },
    "/api/notam": {
      "get": {
        "tags": ["5. NOTAM Aeronautical Information"],
        "summary": "인천 FIR 항공고시보 (NOTAM) 조회",
        "description": "AIM Korea로부터 인천 비행정보구역(RKRR FIR) 및 전국 공항의 유효 항공고시보를 수집하여 지오메트리 좌표와 함께 반환합니다.",
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "required": false,
            "description": "위치 ICAO 코드 (RKRR: 인천FIR 전역, RKSI, RKSS 등)",
            "schema": { "type": "string", "default": "RKRR" }
          }
        ],
        "responses": {
          "200": {
            "description": "유효 NOTAM 목록",
            "content": {
              "application/json": {
                "example": {
                  "count": 474,
                  "notams": [
                    {
                      "notamNumber": "A1234/26",
                      "location": "RKSI",
                      "validFrom": "2026-08-20T00:00:00Z",
                      "validTo": "2026-08-25T23:59:00Z",
                      "itemE": "RWY 15R/33L CLSD DUE TO MAINT",
                      "qCode": "QMRLC"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/voice": {
      "get": {
        "tags": ["6. Live ATC Audio Stream"],
        "summary": "LiveATC 실시간 관제탑 오디오 스트림",
        "description": "실시간 관제탑 음성 스트림(MP3)을 중계합니다. (국내 공역은 항공보안법 제166조에 의해 비공개 처리되며, 기능 검증용으로 KJFK, RJTT, KLAX 채널을 실시간 제공합니다.)",
        "parameters": [
          {
            "name": "channel",
            "in": "query",
            "required": false,
            "description": "관제탑 채널 (KJFK: 뉴욕 JFK, RJTT: 도쿄 하네다, KLAX: 로스앤젤레스)",
            "schema": { "type": "string", "enum": ["KJFK", "RJTT", "KLAX"], "default": "KJFK" }
          }
        ],
        "responses": {
          "200": {
            "description": "실시간 오디오 스트림 (audio/mpeg)",
            "content": {
              "audio/mpeg": {}
            }
          }
        }
      }
    },
    "/api/crawler": {
      "get": {
        "tags": ["7. Background Sync Crawler"],
        "summary": "Vercel Pro 무저장 백그라운드 크롤러 실행 및 상태 점검",
        "description": "Vercel Cron(*/5 * * * *)에 의해 5분 주기로 자동 실행되며, 전국 15개 공항 스케줄과 42개 기상 센서를 메모리 상에서 대조(Zero-Storage Diff)하여 결항(CNL), 지연(DLA), 출발(DEP), 도착(ARR)을 감지합니다.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "true 설정 시 크롤러 하트비트 및 메모리 상태만 반환",
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "events",
            "in": "query",
            "required": false,
            "description": "true 설정 시 최근 감지된 실시간 비행 상태 변동 이벤트 큐 반환",
            "schema": { "type": "boolean", "default": false }
          }
        ],
        "responses": {
          "200": {
            "description": "크롤러 동기화 결과 및 이벤트 요약",
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "crawler": "Vercel Pro Zero-Storage In-Memory Sync Engine",
                  "summary": {
                    "status": "SUCCESS",
                    "airportsSynced": 15,
                    "flightsTracked": 1306,
                    "weatherStationsSynced": 42,
                    "notamsSynced": 474,
                    "changesDetected": 0,
                    "executionTimeMs": 1232
                  },
                  "storagePolicy": "Zero Persistent DB Storage (Ephemeral In-Memory Diffing)"
                }
              }
            }
          }
        }
      }
    }
  }
}
